<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.ticket.dao.TicketsMapper">
  <resultMap id="BaseResultMap" type="com.dragon.ticket.model.Tickets">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="red1" jdbcType="INTEGER" property="red1" />
    <result column="red2" jdbcType="INTEGER" property="red2" />
    <result column="red3" jdbcType="INTEGER" property="red3" />
    <result column="red4" jdbcType="INTEGER" property="red4" />
    <result column="red5" jdbcType="INTEGER" property="red5" />
    <result column="red6" jdbcType="INTEGER" property="red6" />
    <result column="blue1" jdbcType="INTEGER" property="blue1" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, period, red1, red2, red3, red4, red5, red6, blue1, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tickets
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tickets
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dragon.ticket.model.Tickets">
    insert into tickets (id, period, red1, 
      red2, red3, red4, red5, 
      red6, blue1, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{period,jdbcType=VARCHAR}, #{red1,jdbcType=INTEGER}, 
      #{red2,jdbcType=INTEGER}, #{red3,jdbcType=INTEGER}, #{red4,jdbcType=INTEGER}, #{red5,jdbcType=INTEGER}, 
      #{red6,jdbcType=INTEGER}, #{blue1,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.ticket.model.Tickets">
    insert into tickets
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="red1 != null">
        red1,
      </if>
      <if test="red2 != null">
        red2,
      </if>
      <if test="red3 != null">
        red3,
      </if>
      <if test="red4 != null">
        red4,
      </if>
      <if test="red5 != null">
        red5,
      </if>
      <if test="red6 != null">
        red6,
      </if>
      <if test="blue1 != null">
        blue1,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="period != null">
        #{period,jdbcType=VARCHAR},
      </if>
      <if test="red1 != null">
        #{red1,jdbcType=INTEGER},
      </if>
      <if test="red2 != null">
        #{red2,jdbcType=INTEGER},
      </if>
      <if test="red3 != null">
        #{red3,jdbcType=INTEGER},
      </if>
      <if test="red4 != null">
        #{red4,jdbcType=INTEGER},
      </if>
      <if test="red5 != null">
        #{red5,jdbcType=INTEGER},
      </if>
      <if test="red6 != null">
        #{red6,jdbcType=INTEGER},
      </if>
      <if test="blue1 != null">
        #{blue1,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dragon.ticket.model.Tickets">
    update tickets
    <set>
      <if test="period != null">
        period = #{period,jdbcType=VARCHAR},
      </if>
      <if test="red1 != null">
        red1 = #{red1,jdbcType=INTEGER},
      </if>
      <if test="red2 != null">
        red2 = #{red2,jdbcType=INTEGER},
      </if>
      <if test="red3 != null">
        red3 = #{red3,jdbcType=INTEGER},
      </if>
      <if test="red4 != null">
        red4 = #{red4,jdbcType=INTEGER},
      </if>
      <if test="red5 != null">
        red5 = #{red5,jdbcType=INTEGER},
      </if>
      <if test="red6 != null">
        red6 = #{red6,jdbcType=INTEGER},
      </if>
      <if test="blue1 != null">
        blue1 = #{blue1,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dragon.ticket.model.Tickets">
    update tickets
    set period = #{period,jdbcType=VARCHAR},
      red1 = #{red1,jdbcType=INTEGER},
      red2 = #{red2,jdbcType=INTEGER},
      red3 = #{red3,jdbcType=INTEGER},
      red4 = #{red4,jdbcType=INTEGER},
      red5 = #{red5,jdbcType=INTEGER},
      red6 = #{red6,jdbcType=INTEGER},
      blue1 = #{blue1,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tickets
  </select>
  
</mapper>